<h2 mat-dialog-title>{{ isEditMode ? 'Edit User' : 'Create User' }}</h2>
<mat-dialog-content>
  <form (ngSubmit)="saveUser()" class="user-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newUser.name" name="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="newUser.email" name="email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="newUser.phone" name="phone" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="newUser.password" name="password" type="password" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <input matInput [(ngModel)]="newUser.role" name="role" type="number" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveUser()">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>
